/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Radley:ital@0;1&display=swap');

/* CSS variables */

:root {
    --primary-font: "Jost", sans-serif;
    --secondary-font: "Radley", serif;
    --dark-color: #262322; /* Dark brown */
    --primary-color: #63372c; /* Mid brown */
    --secondary-color: #c97d60; /* Light brown */
    --highlight-color: #ffbcb5; /* Pink */
    --highlight-color-light: #f2e5d7; /* Cream */

}

/* Global styles */
.section{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

p {
    font-family: var(--primary-font);
    color: var(--dark-color)
}

a {
    color: var(--secondary-color)
}


h1,
h2,
h3,
h4,
h5 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
}

img {
    border-radius: 1%;
}

/* Button Styling - code lifted from boardwalk games walkthrough project*/

.custom-button-filled {
    border: 2px solid var(--highlight-color);
    background-color: var(--highlight-color);
    color: var(--dark-color);
}

.custom-button-filled:hover {
    border: 2px solid var(--secondary-color);
    background-color: var(--secondary-color);
}

.custom-button-outline {
    border: 2px solid var(--highlight-color);
    padding: 7px 25px;
    background-color: transparent;
}

.custom-button-outline:hover {
    background-color: var(--highlight-color);
}

/* Accordion Styling */
.accordion {
    --bs-accordion-btn-bg: var(--highlight-color);
    --bs-accordion-active-bg: var(--highlight-color-light);
}


/* Navbar */

#navbar {
    background-color: var(--dark-color);    
}

/* Header */


/* Footer */

#footer {
    background-color: var(--dark-color);
    }

#footer p, #footer i, #footer h3 {
    color: #ffffff;
}

#footer #socials i{
    font-size: 2rem;
    margin-right: 20px;        
    -webkit-transition: color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
}

#footer i:hover {
    color: var(--highlight-color);
}

/* Media Queries */

/* Override bootstrap container size on x-large screen */
@media (min-width: 1200px) {
    .container{
        max-width: 1000px;
    }
}